#nav-right-section {
  @media (max-width: 575px) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

#hover {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

#hover::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2.2px;
  left: 50%;
  position: absolute;
  background: #56e3b8;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#hover:hover::after {
  width: 100%; 
  left: 0; 
}

#last-name,
#first-name {
    color: #56e3b8;
}

#container-logo {
  width: 8%;
  object-fit: contain;
}

.container-name {
  margin-left: -80px;
}

.v-logo {
  width: 15%;
}

